.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}

.container {
  border: 1px solid #ccc;
  border-radius: 5px;
  bottom: 100px;
  right: 20px;
  height: 500px;
  width: 450px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: medium;
  background-color: #c0d8fb;
}

.messageContainer {
  padding: 10px;
}

.messages {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message {
  display: block;
  width: fit-content;
  max-width: 70%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
  word-wrap: break-word;
}

.sent {
  background-color: #007aff;
  color: #fff;
  float: right;
  margin-left: 30%;
}

.received {
  background-color: #f2f2f2;
  color: #333;
  float: left;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: 10px;
  border-radius: 5px;
  background-color: #cecece;
}

.input {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 361px;
}
.input:focus {
  outline: #ffff00;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #007aff;
  color: #fff;
  border: none;
  cursor: pointer;
}
