.chatbot {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  bottom: 30px;
  right: 20px;
  width: 550px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .chatbot {
    /* Special width for mobile view */
    width: 90vw;
  }
}


.icon {
  width: 90px;
  height: 90px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.icon-smaller {
  width: 70px;
  height: 70px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.icon:hover, .icon-smaller:hover {
  transform: scale(1.1);
}


.container {
  border: 1px solid #cecece;
  border-radius: 15px;
  bottom: 100px;
  right: 20px;
  height: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  font-size: medium;
  background-color: #d8f1fa;
}

.messageContainer {
  display: block;
  padding: 10px 0px 5px 10px;
}

.loading-spinner {
  transform: translate(-50%, -50%);
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.messageCloudSent {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.messageCloudReceived {
  width: 100%;
  display: flex;
}

.messages {
  padding: 0;
  margin: 0;
}

.message {
  display: block;
  width: fit-content;
  max-width: 70%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
  word-wrap: break-word;
}

.sent {
  color: #fff;
  float: right;
  background-color: #008adf;
}

.received {
  background-color: #98dff9;
  color: #333;
  float: left;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  background-color: #98dff9;
}

.inputContainer.input {
  width: 250px;
}

.containerBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
.input:focus {
  outline: #ffff00;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #008adf;
  color: #fff;
  border: none;
  cursor: pointer;
}

.chatbot-img {
  margin-top: 15px;
}